* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: aqua;
    display: flex;
    justify-content: center ;
    align-items:center;
}
#card{
    height: 480px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}
#storys{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storys::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid red;
    height: 80px;
    border-radius: 50%;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#fullstory{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position:center;
    position: absolute;
    display: none;
}